
.navbar-brand{
    font-weight: bolder;
    font-size: 25px;
    margin-right: 50px;
}
.dropdown-menu{
    font-weight: bolder;
}
#itemSearchLabel , #InvoiceLabel , #customerSearchLabel , #itemLabel{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 100px;
}
